<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:msb="http://www.mashibing.com/schema/user"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context.xsd
        http://www.mashibing.com/schema/user http://www.mashibing.com/schema/user.xsd">
    <context:property-placeholder location="classpath:db.properties" ></context:property-placeholder>
    <!-- 这样调用的是无参构造方法 -->
    <!--	<bean id="student1" class="com.jyh.demo.Student"></bean>-->
    <!-- 这样调用的是无参构造方法和set方法 -->
    <!--	<bean id="student1" class="com.jyh.demo.Student">-->
    <!--		<property name="name" value="jyh"></property>-->
    <!--	</bean>-->
    <!-- 这样调用的是无参构造方法和有参构造方法 -->
    <bean id="student1" class="com.jyh.demo.Student">
        <constructor-arg name="name" value="jyh"></constructor-arg>
    </bean>
</beans>